{% extends 'base.html.twig' %}

{% block title %}expériences{% endblock %}

{% block body %}
    <h1>Mes expériences pro</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">années</th>
            <th scope="col">société</th>
            <th scope="col">poste</th>
            <th scope="col">mission</th>
        </tr>
        </thead>
        <tbody>
        {% for expe in experiences %}
            <tr>
                <th scope="row">{{ expe.year }}</th>
                <td>{{ expe.compagny }}</td>
                <td>{{ expe.job }}</td>
                <td>{{ expe.mission }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
