{% extends 'base.html.twig' %}

{% block title %}Hobbies{% endblock %}

{% block body %}
    <h1>Mes hobbies</h1>
    <ul class="nav nav-tabs">
        {% for hobby in hobbies %}
            <li class="nav-item">
                <a class="nav-link{% if loop.first %} active{% endif %}" data-bs-toggle="tab" href="#{{ hobby.name|lower }}">{{ hobby.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <div id="myTabContent" class="tab-content">
        {% for hobby in hobbies %}
            <div class="tab-pane fade show{% if loop.first %} active{% endif %}" id="{{ hobby.name|lower }}">
                <p>{{ hobby.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
