{% extends 'base.html.twig' %}

{% block title %}Hello Félix{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4 offset-4">
            <h1>Bonjour je suis Félix</h1>
            <div class="card border-primary mb-3">
                <div class="card-header">Etudiant</div>
                <div class="card-body">
                    <h4 class="card-title">It akademy</h4>
                    <p class="card-text">Je suis en reconversion dans le développement depuis 2018</p>
                    <ul>
                        <li>37 ans</li>
                        <li>Lyon</li>
                        <li>...</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
