{% extends 'base.html.twig' %}

{% block title %}Hello Félix{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Bonjour je suis Félix</h1>
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">Etudiant</div>
        <div class="card-body">
            <h4 class="card-title">It akademy</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
{% endblock %}
